
<div class="jumbotron color:'#f16e00'">
    <div class="text-info">
        <h1>{{ name}}</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <li><a class="nav-item " href="{{ path('map',{'id':'all'}) }}">Hotels by Searches</a></li>

        <li> <a class="nav-item " href="{{ path('timestat') }}">TimeStat</a></li>
        <li> <a class="nav-item " href="{{ path('web_searches') }}"> interlook Web Searches</a></li>
    </nav>

</div>
